{% extends 'layout.html' %}

{% block body %}
<h1>About Us</h1>
<p>Education being the most powerful energy of this existence with its indefinite capacities in every aspect of life to transform it, is still being ignored as the process of it's conduction is still not modernised up to the extent. In this time of internet era or precisely social media era where it gives us the power to remain connected to our friends and relatives, to express and share our day to day life and beyond this it also gives us a power to our voice.

We see social media in our life in almost every domain either in staying connected to friend and relatives, sharing your photos and videos, staying connected to your favourite celebrities and politicians or your overall daily entertainment.

But when we talk about education there is no such platform that serves the complete requirement of education domain. A platform where the students can connect to teachers without any hesitation, where they can discuss on academic topics freely, where teachers can post their notes to make their reach easily to their students in an organised and controlled manner.</p>
{% endblock %}
